<div class="animated fadeIn">
    <div *ngIf="isShow === 'hide'" class="card">
        <div class="card-header">
            <i class="icon-drop"></i> Patient list
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-xl-2 col-md-3 col-sm-4 col-6 mb-4">
                    <button (click)="issuePatientProfile()" class="btn btn-primary">
                        Issue Patient Profile
                    </button>
                </div>
            </div>

            <div style="margin-top: 5" class="row">
                <div *ngFor="let patient of patients" class="col-sm-3">
                    <div class="card card-accent-info">
                        <div class="card-body">
                            <div style="text-align: center">
                                <div class="avatar float-right">
                                    <img class="img-avatar" src="assets/img/avatars/avatar.png" alt="">
                                </div>
                                <h4>{{patient.name}}</h4>
                            </div>
                            <div style="text-align: center">
                                <h5>Blood Group: {{patient.bloodGroup}}</h5>
                            </div>
                            <div style="text-align: center">
                                <h5>Age: {{patient.age}}</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <ng-template #cmp form-host></ng-template>
</div>